@using Tamro.Madam.Models
@using Tamro.Madam.Models.Customers.Wholesale.Clsf
@using Tamro.Madam.Models.Sales.CanceledOrderLines.ExcludedCustomers

<MudDialog xs="6" DefaultFocus="DefaultFocus.None">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.PlaylistRemove" Class="mr-3 mb-n1" />
            @(_isEditMode ? "Edit excluded customer" : "Exclude customer")
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@_model" @ref="@_form" onkeydown="@OnKeyDown" Validation="@(_validator.ValidateValue(_model))">
            <MudGrid>
                <MudItem xs="12">
                    <MudAutocomplete Label="@DisplayNameHelper.Get(() => _model.Customer)"
                                     T="WholesaleCustomerClsfModel"
                                     Required
                                     MaxItems="20"
                                     ResetValueOnEmptyText
                                     Immediate
                                     Clearable
                                     Margin="Margin.Dense"
                                     Dense
                                     DebounceInterval="200"
                                     SearchFunc="@SearchCustomers"
                                     ToStringFunc="@(e => e == null ? null : e.DisplayName)"
                                     For="@(() => _model.Customer)"
                                     ProgressIndicatorColor="Color.Primary"
                                     @bind-Value="_model.Customer"
                                     @bind-Value:after="OnCustomerChanged"
                                     Variant="Variant.Outlined"
                                     ShowProgressIndicator="true"
                                     Disabled="@_isEditMode"
                                     HelperText="@(_isEditMode ? "Customer cannot be changed when editing" : "")">>
                    </MudAutocomplete>
                </MudItem>


                @if (_isEditMode)
                {
                    <MudItem xs="12" Class="mt-4">
                        <MudText Typo="Typo.subtitle2" Class="mb-2">Exclude</MudText>
                        <MudRadioGroup T="ExclusionLevel" @bind-Value="@_model.ExclusionType" @bind-Value:after="OnExclusionTypeChanged">
                            <MudRadio Value="@ExclusionLevel.EntireLegalEntity" Color="Color.Primary" Dense="true">
                                <MudText>Entire legal entity</MudText>
                            </MudRadio>
                            <MudRadio Value="@ExclusionLevel.OneOrMorePhysicalLocations" Color="Color.Primary" Dense="true">
                                <MudText>One or more physical locations</MudText>
                            </MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                }
                else
                {
                    <MudItem xs="12" Class="mt-4">
                        <MudAlert Severity="Severity.Info" Class="mb-2">
                            <MudText Typo="Typo.body2">
                                <strong>Exclusion Type:</strong> Entire legal entity
                            </MudText>
                            <MudText Typo="Typo.caption">
                                New exclusions are created for the entire legal entity. You can modify this after creation by editing the exclusion.
                            </MudText>
                        </MudAlert>
                    </MudItem>
                }

                @if (_model.ExclusionType == ExclusionLevel.OneOrMorePhysicalLocations && _model.Customer != null)
                {
                    <MudItem xs="12" Class="mt-4">
                        <MudText Typo="Typo.subtitle2" Class="mb-2">Select physical locations to exclude</MudText>
                        
                        @if (_loadingLocations)
                        {
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
                        }
                        else if (!_customerLocations.Any())
                        {
                            <MudAlert Severity="Severity.Info" Class="mt-2">
                                No physical locations found for this customer.
                            </MudAlert>
                        }
                        else
                        {
                            <MudPaper Class="pa-2" Elevation="1">
                                <div class="d-flex justify-space-between align-center mb-2">
                                    <MudText Typo="Typo.caption">
                                        @GetSelectionSummary()
                                    </MudText>
                                    <div>
                                        <MudButton Size="Size.Small" 
                                                   StartIcon="@Icons.Material.Filled.SelectAll"
                                                   OnClick="SelectAll">
                                            Select All
                                        </MudButton>
                                        <MudButton Size="Size.Small" 
                                                   StartIcon="@Icons.Material.Filled.ClearAll"
                                                   OnClick="ClearAll">
                                            Clear All
                                        </MudButton>
                                    </div>
                                </div>
                                
                                <MudDataGrid T="CustomerLocationModel"
                                             Items="@_customerLocations"
                                             Dense="true"
                                             Hover="true"
                                             Bordered="true"
                                             Striped="true"
                                             FixedHeader="true"
                                             Height="300px"
                                             RowClassFunc="@GetRowClass">
                                    <Columns>
                                        <TemplateColumn Title="" CellClass="d-flex justify-center" Width="60px">
                                            <CellTemplate>
                                                <MudCheckBox Checked="@context.Item.IsSelected"
                                                             ValueChanged="@(EventCallback.Factory.Create<bool>(this, value => OnLocationSelectionChanged(context.Item, value)))"
                                                             Color="Color.Primary"
                                                             Dense="true" />
                                            </CellTemplate>
                                        </TemplateColumn>
                                        <PropertyColumn Property="x => x.E1ShipTo" Title="Ship to" />
                                        <PropertyColumn Property="x => x.Name" Title="Name" />
                                        <TemplateColumn Title="Status" Width="120px">
                                            <CellTemplate>
                                                @if (context.Item.IsExcluded && !context.Item.IsSelected)
                                                {
                                                    <MudChip Size="Size.Small" Color="Color.Warning" Text="Currently Excluded" />
                                                }
                                                else if (context.Item.IsSelected)
                                                {
                                                    <MudChip Size="Size.Small" Color="Color.Error" Text="Will be Excluded" />
                                                }
                                                else
                                                {
                                                    <MudChip Size="Size.Small" Color="Color.Success" Text="Active" />
                                                }
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                    <NoRecordsContent>
                                        <MudText>No locations available for this customer.</MudText>
                                    </NoRecordsContent>
                                </MudDataGrid>
                            </MudPaper>
                        }
                    </MudItem>
                }
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton StartIcon="@Icons.Material.Filled.Cancel" OnClick="Cancel">Cancel</MudButton>
        <MudLoadingButton StartIcon="@Icons.Material.Filled.Save" 
                          Variant="Variant.Filled" 
                          Color="Color.Primary" 
                          Loading="@_saving" 
                          OnClick="Submit"
                          Disabled="@(!IsFormValid())">
            @(_isEditMode ? "Update" : "Save")
        </MudLoadingButton>
    </DialogActions>
</MudDialog>