@page "/items/item-quality-check"
@using Tamro.Madam.Models.Data.Items.QualityCheck
@using Tamro.Madam.Models.ItemMasterdata.Items.QualityCheck;
@using Tamro.Madam.Ui.Components.DataGrid.Filtering
@using Tamro.Madam.Ui.Pages.ItemMasterdata.Items.Components.QualityCheck

<Permission RequiredPermission="@Permissions.CanViewCoreMasterdata" />
<PageTitle>Item masterdata quality check</PageTitle>

<MudPaper>
    <MudGrid Class="d-flex bar-above-item-grid">
        <MudItem sm="6" xs="12" Class="d-flex align-items-center">
            <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Tertiary" Size="Size.Large" />
            <MudText Class="gap-4 ma-1" Typo="Typo.h6">Item masterdata quality check</MudText>
        </MudItem>
        <MudItem sm="6" xs="12" Class="d-flex align-items-end justify-end button-bar">
            <MudButton Variant="Variant.Outlined"
                       OnClick="OnReset"
                       Size="Size.Small"
                       Disabled
                       StartIcon="@Icons.Material.Filled.Handyman" IconColor="Color.Surface" Color="Color.Primary"
                       Style="margin-right: 4px; margin-bottom:4px">
                Fix (0)
            </MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="OnReset"
                       Size="Size.Small"
                       Disabled
                       StartIcon="@Icons.Material.Filled.Flag" IconColor="Color.Surface" Color="Color.Primary"
                       Style="margin-right: 4px; margin-bottom:4px">
                Mark as false positive (0)
            </MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="OnReset"
                       Size="Size.Small"
                       Disabled
                       StartIcon="@Icons.Material.Filled.Restore" IconColor="Color.Surface" Color="Color.Primary"
                       Style="margin-right: 4px; margin-bottom:4px">
                Restore (0)
            </MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="OnReset"
                       Size="Size.Small"
                       Disabled="@_loading"
                       StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Primary"
                       Style="margin-right: 4px; margin-bottom:4px">
                Reset
            </MudButton>
            <MudLoadingButton @bind-Loading="_loading" Variant="Variant.Outlined" Color="Color.Primary"
                              Label="Export"
                              Disabled="@_loading"
                              StartIcon="@Icons.Custom.FileFormats.FileExcel"
                              Size="Size.Small"
                              Style="margin-right: 4px; margin-bottom:4px"
                              OnClick="OnExport"
                              IconColor="Color.Surface">
                Export
            </MudLoadingButton>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Immediate="true" OnKeyDown="OnBasicSearchKeyDown" @bind-Value="@_query.SearchTerm" Placeholder="Search" Adornment="Adornment.End"
                          AdornmentIcon="@Icons.Material.Filled.Search" Margin="Margin.Dense" IconSize="Size.Small" Size="Size.Small" Variant="Variant.Outlined">
            </MudTextField>
        </MudItem>
    </MudGrid>
    <MudGrid Class="margin-left-auto mt-2">
        <MudDataGrid T="ItemQualityCheckGridModel" ServerData="@(DataSource)"
                     Virtualize="true"
                     @bind-RowsPerPage="_defaultPageSize"
                     Loading="@_loading"
                     Striped="true"
                     Bordered="true"
                     Dense="true"
                     ColumnResizeMode="ResizeMode.Container"
                     DragDropColumnReordering="true"
                     ApplyDropClassesOnDragStarted="true"
                     FilterMode="@DataGridFilterMode.ColumnFilterRow"
                     Filterable="true"
                     MultiSelection="true"
                     Hideable="true"
                     Hover="true"
                     @ref="_table">
            <Columns>
                <SelectColumn Size="Size.Small" T="ItemQualityCheckGridModel" ShowInFooter="false"></SelectColumn>
                <HierarchyColumn T="ItemQualityCheckGridModel"></HierarchyColumn>
                <PropertyColumn CellStyle="width: 160px" Property="x => x.ItemId" Title="@DisplayNameHelper.Get(typeof(ItemQualityCheckGridModel), nameof(ItemQualityCheckGridModel.ItemId))"></PropertyColumn>
                <PropertyColumn Property="x => x.ItemName" Title="@DisplayNameHelper.Get(typeof(ItemQualityCheckGridModel), nameof(ItemQualityCheckGridModel.ItemName))">
                    <CellTemplate>
                        <MudTooltip Text="@context.Item.ItemName" Placement="Placement.Bottom">
                            @context.Item.ItemName
                        </MudTooltip>
                    </CellTemplate>
                </PropertyColumn>
                <PropertyColumn CellStyle="width: 160px" Property="x => x.IssueCount" Sortable="false" Title="@DisplayNameHelper.Get(typeof(ItemQualityCheckGridModel), nameof(ItemQualityCheckGridModel.IssueCount))">
                </PropertyColumn>
                <PropertyColumn CellStyle="width: 200px" Property="x => x.UnresolvedIssuesCount" Sortable="false" Title="@DisplayNameHelper.Get(typeof(ItemQualityCheckGridModel), nameof(ItemQualityCheckGridModel.UnresolvedIssuesCount))">
                </PropertyColumn>
                <PropertyColumn Property="x => x.UnresolvedSeverities" Sortable="false" Title="@DisplayNameHelper.Get(typeof(ItemQualityCheckGridModel), nameof(ItemQualityCheckGridModel.UnresolvedSeverities))">
                    <FilterTemplate>
                        <DictionaryFilterTemplate FilterOptions="@_severityFilterOptions" Options="@ItemQualityCheckData.Severity" ApplyClick="@ApplySeverityFilter" CancelClick="@ClearSeverityFilter" />
                    </FilterTemplate>
                    <CellTemplate>
                        @{
                            if (context.Item.UnresolvedSeverities?.Any() == true)
                            {
                                foreach (var severity in context.Item.UnresolvedSeverities)
                                {
                                    <span class="severity-@severity.ToString().ToLower()">@severity.ToString() &nbsp;</span>
                                }
                            }
                        }
                    </CellTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.Status" Sortable="false" Title="@DisplayNameHelper.Get(typeof(ItemQualityCheckGridModel), nameof(ItemQualityCheckGridModel.Status))">
                    <FilterTemplate>
                        <DictionaryFilterTemplate FilterOptions="@_statusFilterOptions" Options="@ItemQualityCheckData.Status" ApplyClick="@ApplyStatusFilter" CancelClick="@ClearStatusFilter" />
                    </FilterTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.ScanDate" Filterable="false" Title="@DisplayNameHelper.Get(typeof(ItemQualityCheckGridModel), nameof(ItemQualityCheckGridModel.ScanDate))">
                </PropertyColumn>
            </Columns>
            <ChildRowContent>
                <ItemQualityCheckIssuesGrid Issues="@context.Item.Issues" />
            </ChildRowContent>
            <NoRecordsContent>
                <MudText>No data to display</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading</MudText>
            </LoadingContent>
            <PagerContent>
                <MudDataGridPager PageSizeOptions="@(new[] { 10, 15, 30, 50, 100, 200 })" />
            </PagerContent>
        </MudDataGrid>
    </MudGrid>
</MudPaper>